@use './styles/_variables.scss' as vars;

:root {
  font-family: #{vars.$font-primary};
  margin: 0;
  --hero-bg-colour: #{vars.$hero-bg-colour};
  --how-to-bg-colour: #{vars.$purple-bg-medium};
  --tyrios-white: #FFFFFF;
  --tyrios-medium: #FCFAFF;
  --tyrios-medium-purple: #F6F2FF;
  --tyrios-purple: #9761FF;
  --tyrios-dark-grey: #2D2C2F;
  --tyrios-medium-grey: #969A9E;
  --tyrios-light-grey: #E5E4E6;
  --tyrios-error-red: #FBEAEB;
  --tyrios-dark-red: #DE545E;
  --tyrios-warning-yellow: #F9B400;
  --tyrios-succes-green: #EDF8EC;
  --tyrios-strong-green: #70CB67;
  --tyrios-border-grey: #F1EBFF;
}

body {
  margin: 0;
  padding: 0;
}