@use './styles/_variables.scss' as vars;

:root {
  font-family: #{vars.$font-primary};
  margin: 0;
  --hero-bg-colour: #{vars.$hero-bg-colour};
  --how-to-bg-colour: #{vars.$purple-bg-medium};
  --tyrios-white: #FFFFFF;
  --tyrios-medium: #FCFAFF;
  --tyrios-purple: #9761FF;
  --tyrios-dark-grey: #2D2C2F;
  --tyrios-light-grey: #E5E4E6;
}

body {
  margin: 0;
  padding: 0;
}